{% extends 'base.html.twig' %}

{% block title %}My_quizz
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-3">
            {% for categorie in categories %}
                <a href="">{{ categorie.name}} </p>
            {% endfor %}
            
            </div>
		</div>
	</div>
{% endblock %}
