<h1>Modification de votre mot de passe</p>
<p>Veuillez cliquer sur le lien ci-dessous pour modifier votre password</p>
<p><a href="{{ absolute_url(path('app_reset_password', {'token': token})) }}">Rénitialisation de votre mot de passe</a></p>
