<h1>Activation de votre compte</p>
<p>Veuillez cliquer sur le lien ci-dessous pour modifier votre password</p>
<p><a href="{{ absolute_url(path('app_reset_password', {'token': token})) }}">Renitialisation de password</a></p>
