<h1>Reactivation de votre compte</p>
<p>veuillez cliquer sur le lien ci-dessous pour  reactiver votre compte</p>
<p><a href="{{ absolute_url(path('activation', {'token': token})) }}">Reactiver mon compte</a></p>
