.logo{
    font-size: 2em;
    color: red;
}
.link{
    text-decoration: none;
}
.navbar{
    background-color: #cacf27;
    box-shadow: 10px 5px 5px#c4c849;
    height: 5em;
}
.navbar-brand{
    padding-left: 7%;
}
.cn{
    font-size: 1.3em;
    color: white;
}
.btn-outline-success{
    color: #dd1b1b;
    font-size: 1.5em;
    border-color: white ;
  
}
.btn-outline-success:hover{
    color: white;
    background-color: #c4c849;
}

.menu-categorie {
  background-color: rgba(37, 202, 51, 0.52);
  height: 100%;
}
.menu-categorie a{
    color: rgba(75, 74, 74, 0.986);
}
.menu-categorie a:hover{
    border-bottom: 2px dotted black;
    color: red;
    font-size: 1.4em;
}

/* page connexion*/

.form-connection{
width: 30em;
margin-top: 6em;
border: 2px solid white;
text-align: center;
box-shadow: 0px -1px 6px 6px rgba(196, 200, 73, 0.8);
}

/*page quizz*/
.reponse{
    font-size: 14px;

}
.nom_question{
    color:red;
    margin: auto;
    width: 300px;
}
.reponse label{
    font-size: 14px;
}

.reponse{} 