{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block body %}

<div class="container-fluid">
		<div class="row">


			<div class="col">

			 {% if quizzs is defined and  quizzs|length > 0   %}
			   {% for quizz in quizzs %}
                <a href="">{{ quizz.categories_id}} </p>
            {% endfor %}
			 {% endif %}
		
			</div>
		</div>
	</div>
{% endblock %}
