{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block central %}

<div class="container-fluid">

	<div class="row contenue">

		<div class="col contenue-central">
			<div class="row question">
               {% if questions is defined and  questions|length > 0   %}
					<ul>
						{% for question in questions %}
							<h2 class="nom_question">{{question.question}}</h2>
						{% endfor %}
					</ul>
				{% endif %}
			</div>


	        <div class="row reponse align-items-center">
				 {{ form_start(monformulaire) }}
				 {{ form_row(monformulaire.reponse) }}
				
			 {{ form_end(monformulaire) }}
			
			</div>

		</div>
	</div>
</div>
{% endblock %}
