{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-3"></div>

			<div class="col">

				{% if questions is defined and  questions|length > 0   %}
					{% for question in questions %}
						
					{% endfor %}
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
